.nav {

    background-color: rgba(240, 241, 243, 5%);

    height: 76.2vh;
    width: 14vw;

    display: flex;
    flex-direction: column;

    margin-left: 10px;
    margin-top: 10px;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    border: 1px rgb(150, 150, 150, 30%) solid;
    border-radius: 15px;

}

.logo {

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
}

.conteinerBusca {
    margin-left: 6px;
    margin-bottom: 10px;
    position: relative;
    width: 95%;

}


.busca {

    width: 100%;
    height: 40px;

    border: 1px solid rgba(100, 100, 100, 55%);
    border-radius: 7px;

    color:rgba(0, 0, 0, 80%);

    padding-left: 32px;
}

.lupa {

    position: absolute;
    left: 7px;
    top: 58%;

    transform: translateY(-50%);
}

.barraCategorias {

    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.tituloCategorias {

    color: rgba(50, 50, 50);

    margin: 15px 0 10px 0;

    text-align: center;

    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.listaNomeCategorias {

    border-radius: 15px;

    overflow-y: auto;
    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
}

.nomeCategorias {

    color: black;
    background-color: rgb(200, 200, 200, 15%);

    height: 40px;

    padding-left: 15px;
    padding-top: 5px;


    text-align: left;

    transition: all 0.3s ease;
}

.nomeCategorias:hover {

    background-color: rgba(50, 50, 50, 10%);
    font-size: large;
    height: 50px;
    padding-top: 12px;

}

.ativa{
    background-color: rgba(50, 50, 50, 10%);
}

.conteinerBotao {

    background-color: rgba(150, 150, 150, 10%);

    margin-top: auto;

    width: 100%;
    height: 50px;

    border-radius: 15px;

    transition: all 0.3s ease;
}

.conteinerBotao:hover{
    height: 55px;
    font-size: large;
}

.botao {

    color: black;
    width: 100%;
    height: 100%;

    font-weight: bold;
}
