.painelGeral {

    background-color: rgba(255,255,255,20%);

    height: 230px;
    width: 98%;

    margin: 10px 0 0 15px;

    border-radius: 8px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.banner {
    display: flex;
    background-color: white;
    justify-content: center;
    width: 100%;
    height: 180px;
    margin-top: 15px;
    overflow: hidden;
    border-radius: 8px;
}

.bannerImg {
    object-fit: cover;
}

.listaProdutos {
    background-color: rgba(128, 128, 128, 20%);

    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;

    height: 15%;
    margin: 20px 0;
}

.listaProdutosInterna {


    display: flex;

    gap: 1px;

    margin: 0 70px;

    max-width: 98%;

    overflow-x: hidden;

}

.produtos {

    color: black;
    display: flex;
    align-items: center;

    height: 100%;
    padding: 10px;
}


.setaEsquerda, .setaDireita {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px; 

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
}


.setaEsquerda {
    left: 0;
}

.setaDireita {
    right: 0;
}

.botaoSeta {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    border: none;
    cursor: pointer;

    transition: all 0.2s ease;
}

.botaoSeta img {
    width: 60%;
    height: auto;
}

.setaImagemDireita {
    transform: rotate(90deg);
}

.setaImagemEsquerda {
    transform: rotate(-90deg);
}

.botaoSeta:hover {
    background-color: rgba(0,0,0,0.05);
}

.botaoSeta:active {
    transform: scale(0.95);
}

.produtoFiltro {
    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.04);
    transition: all 0.2s ease;

    align-items: center;
    justify-content: center;
}


.produtoFiltro:hover {
    transform: translateY(-1px);
}


.produtoFiltro:active {
    background-color: #ff4d4f;
    transform: scale(0.97);
}

.ativo {
    background-color: #ff4d4f;
    color: white;
    font-weight: 400;
    box-shadow: 0 4px 10px rgba(255, 77, 79, 0.4);
}

@media (max-width: 900px) {
    .banner {

        height: 130px;
    }

    .painelGeral {

        margin-left:5px;
        margin-top: 0;

    }

}

@media (max-width: 400px) {
    .banner {
        height: 100px;
    }
}
